{% extends "base.html" %}

{% block content %}
<h2>Available Jobs</h2>
<a href="{% url 'post_job' %}">Post a New Job</a>

<ul>
    {% for job in jobs %}
    <li>
        <h3>{{ job.title }}</h3>
        <p>{{job.topic}}</p>
        <p>{{ job.description }}</p>
        <strong>Budget: ${{ job.budget }}</strong> <br>
        <small>Posted by: {{ job.client.username }} | Deadline: {{ job.deadline }}</small>
        <br>
        {% if request.user == job.client %}
            <a href="{% url 'edit_job' job.id %}">Edit</a>
        {% endif %}
        <hr>
    </li>
    {% empty %}
    <li>No jobs available.</li>
    {% endfor %}
</ul>
{% endblock %}
